.wrapper{
    text-align: center;
    margin: o 10px 15px 10px;
}

.status{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.name{
    margin-top: 10px;
    font-weight: 600;
    word-wrap: break-word;
}